@import "../../sass/variables";
@import "../../sass/mixins";

.app-menu {
  color: white;
  margin-right: 2vw;

  &__toggle {
    color: white;
    text-decoration: none;
    margin-top: .6rem;
    text-transform: uppercase;
    border: 1px solid $color-highlight-light;
    padding: 1rem;
    border-radius: 4px;
    transition: all .3s;
    box-shadow: 0 1rem 1rem rgba($color-shadow, .4);

    > div {
      display: inline;
    }

    &:hover {
      cursor: pointer;
      font-weight: 600;
    }

    &:active {
      box-shadow: 0 .2rem .2rem rgba($color-shadow, .5);
    }


  }

  &__popup {
    position: absolute;
    border: 1px solid $color-highlight-light;
    background-color: rgba($color-purple-darker, .55);
    border-radius: 8px;
    top: 12vh;
    right: 2vw;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-column-gap: 0.1rem;
    grid-row-gap: 1.8rem;
    z-index: 10000000001;
  }

  &__selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 2rem;

    &:hover {
      cursor: pointer;
      background-color: $color-highlight-light;
    }
  }

  &--item {
    width: 100%;
  }
}
