<div class="app-menu">

  <a class="app-menu__toggle" (click)="onToggleMenu()">
    <div class="app-menu__toggle--text">
      {{toggleMenu? 'Close' : 'Menu'}}
    </div>
  </a>

  <div *ngIf="toggleMenu" class="app-menu__popup">
    <div class="app-menu__selection" (click)="onSelectFetchAll()">
      <div class="app-menu__list-item"><i class="fa fa-image fa-2x"></i></div>
      <div class="app-menu__list-item app-menu__selection-item--link">All images</div>
    </div>

    <div class="app-menu__selection"  (click)="onSelectFetchAlbums()">
      <div class="app-menu__selection-item">
        <i class="fa fa-folder-open fa-2x"></i>
      </div>
      <div class="app-menu__selection-item app-menu__selection-item--link">Albums</div>
    </div>

    <div class="app-menu__selection"  (click)="onSelectFetchUsers()">
      <div class="app-menu__selection-item"><i class="fa fa-user fa-2x"></i></div>
      <div class="app-menu__selection-item app-menu__selection-item--link">Users</div>
    </div>
  </div>

</div>
