$default-font: 'Noto Sans';
$color-primary: #a4b0be;
$color-secondary: #747d8c;
$color-tertiary: #2f3542;
$color-tertiary-lighter: #323846;
$color-grey-dark: #ced6e0;
$color-highlight: #ff6348;
$color-shadow: #2f3542;


