@import "../../sass/variables";
@import "../../sass/mixins";

.browser-window {
  position: relative;
  height: 100%;
  width: 100%;

  &__main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__image-viewer {
    position: absolute;
    padding: 4rem;
    top:0%;
    left:0;
    height: 100%;
    background-color: rgba($color-purple-darker,.8);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
