@import '../../sass/variables';

.user {
  width: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-image:url('../../assets/user.png');
  background-blend-mode:lighten;
  background-position-x: 70%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.user-detail-list {
  widows: inherit;

}

.user-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 3rem;
  font-size: 1.4rem;
  margin-bottom: .6rem;

  &__property {
    flex: 1;
    margin-right: 2rem;
  }

  &__value {
    font-weight: 100;
  }
}

.user-detail-context {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contextual:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgba(white, .4);
}






