<div class="user">

  <div class="user-detail-list">
    <div class="user__detail">
      <div class="user_detail--property">Username</div>
      <div class="user_detail--value">{{user.username}}</div>
    </div>

    <div class="user__detail">
      <div class="user_detail--property">Email</div>
      <div class="user_detail--value">{{user.email</div>
    </div>

    <div class="user__detail">
      <div class="user_detail--property">Address</div>
      <div class="user_detail--value">{{user.address.city}}</div>
    </div>

    <div class="user__detail">
      <div class="user_detail--property">Phone</div>
      <div class="user_detail--value">{{user.phone}}</div>
    </div>

    <div class="user__detail">
      <div class="user_detail--property">Website</div>
      <div class="user_detail--value">{{user.website}}</div>
    </div>

    <div class="user__detail">
      <div class="user_detail--property">Company</div>
      <div class="user_detail--value">{{user.company.name}}</div>
    </div>
  </div>

  <div class="user-detail-context">
      Context;
  </div>



</div>
