<div class="user">

  <div class="user-detail-list">

    <div class="user-detail">
      <div class="user-detail__property">Username</div>
      <div class="user-detail__value">{{user.username}}</div>
    </div>

    <div class="user-detail">
      <div class="user-detail__property">Email</div>
      <div class="user-detail__value">{{user.email</div>
    </div>

    <div class="user-detail contextual" (click)="onContextSelect(user.address, 'address')">
      <div class="user-detail__property">
        Address
        <sup><i class="fa fa-info-circle"></i></sup>
      </div>
      <div class="user-detail__value">{{user.address.city}}</div>
    </div>

    <div class="user-detail">
      <div class="user-detail__property">Phone</div>
      <div class="user-detail__value">{{user.phone}}</div>
    </div>

    <div class="user-detail">
      <div class="user-detail__property">Website</div>
      <div class="user-detail__value">{{user.website}}</div>
    </div>

    <div class="user-detail contextual" (click)="onContextSelect(user.company, 'company')">
      <div class="user-detail__property">
        Company
        <sup><i class="fa fa-info-circle"></i></sup>
      </div>
      <div class="user-detail__value">{{user.company.name}}</div>
    </div>
  </div>

  <div *ngIf="inContext" class="user-detail-context">
      <div class="addressContext" *ngIf="currentContextType==='address'">
        Address
      </div>
      <div class="addressContext" *ngIf="currentContextType==='company'">
        Company
      </div>
  </div>



</div>
