@import '../../sass/variables';

.user {
  width: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.user-albums-list {
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1.3rem;
  overflow-y: scroll;
}

.user-detail {
  display: flex;
  justify-content: flex-start;
  margin-right: 3rem;
  font-size: 1.4rem;
  margin-bottom: .6rem;

  &__property {
    flex: 1;
    margin-right: 2rem;
  }

  &__value {
    font-weight: 100;
  }

  &__album-link {
    color: white;
  }
}

.user-detail-context {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contextual:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgba(white, .4);
}

.context-list {
  list-style: none;
  font-family: "Raleway", sans-serif;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;

    &--key {
      flex: 1;
      margin-right: 1rem;
      text-transform: capitalize;
    }

    &--val {
      font-weight: 100;

      a {
        color: white;
      }
    }

  }
}

.user-albums-context {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2rem;

  &__scroll-container {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}







