<div class="navigation">
  <h1 class="navigation__header">Menu</h1>
  <ul class="navigation-list">

    <li class="navigation-list__item" (click)="onItemSelect('photos')">
        <div class="navigation-list__content">
          <div class="navigation-list__rollover">
              <h2 class="navigation-list__rollover--header">All photos</h2>
              <i-camera class="navigation-list__rollover--icon"></i-camera>
          </div>


        </div>
    </li>

    <li class="navigation-list__item" (click)="onItemSelect('albums')">
        <div class="navigation-list__content">
          <div class="navigation-list__rollover">
              <h2 class="navigation-list__rollover--header">Albums</h2>
              <i-folder class="navigation-list__rollover--icon"></i-folder>
          </div>
        </div>
    </li>


    <li class="navigation-list__item" (click)="onItemSelect('sort')">
        <div class="navigation-list__content">
          <div class="navigation-list__rollover">
              <h2 class="navigation-list__rollover--header">Sort</h2>
              <i-filter class="navigation-list__rollover--icon"></i-filter>
          </div>
        </div>
    </li>


  </ul>
</div>
