@import "../../sass/variables";

.image-display-modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.9);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  font-family: "Raleway", sans-serif;
}

.close-btn {
  position: absolute;
  color: #fff;
  font-size: 4rem;
  font-weight: 100;
  top: 15%;
  right: 5%;

  &:hover {
    cursor: pointer;
    font-weight: 300;
  }
}

.image-display {
  position: relative;
  max-width: 70vw;
  max-height: 70vh;
  background-color: rgba($color-purple-darker,.6);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: inherit;

    &--title {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 100;
      padding-bottom: 0.2rem;
      border-bottom: 1px solid rgba($color-purple, 0.5);
    }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    background-image:url('../../assets/album.png');
    background-blend-mode: multiply;
    background-size: 50%;
    background-position-x: 60%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    padding-bottom: 1rem;
  }
}

.view {
  margin: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__icon-title {
    font-weight: 300;
    font-size: 2rem;
    text-transform: capitalize;

    &--text {
      &:before {
        content: "Album";
        position: absolute;
        left: 3.8rem;
        top: 7.5rem;
        color: white;
        font-size: 1.2rem;
        font-weight: 100;
      }
    }

    &--small {
      font-size: 2rem;
    }
  }
}

.ablum-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.context-detail  {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  border-top: 1px solid rgba($color-purple, 0.5);
}

.user-view {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__users {}

  &__user {
    color:white;
    list-style: none;
    font-weight: 100;
    cursor: pointer;
  }
}

.inline-link {
  font-weight: 400;
  transition: all 0.3s cubic-bezier(0.75, -0.5, 0, 1.75);
  display: inline-block;

  &:hover {
    cursor: pointer;
    position: relative;
    transform: translateX(1.1rem);
    font-weight: 600;

    &:after {
      content: "---\00bb";
    }
  }
}

.view-content {
  margin-bottom: 1rem;
}
