@import "../../sass/variables";

.image-display-modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.9);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  font-family: "Raleway", sans-serif;
}

.close-btn {
  font-weight: 300;
  font-size: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  border: 1px solid white;
  border-radius: 100px;

  &:hover {
    cursor: pointer;
    font-weight: 400;
    background-color: #fff;
    color: black;
  }
}

.image-display {
  position: relative;
  width: 65%;
  height: 65%;
  background-image: linear-gradient(
    to bottom,
    rgba($color-purple-darker,.4),
    rgba($color-purple-darker,0)
  );
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;

  &__header {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-size: 2.8rem;
    text-transform: capitalize;
    font-weight: 100;
    padding-bottom: 0.2rem;

    &--title {
      display: block;
      border-bottom: 1px solid rgba($color-purple, 0.5);
    }

    &--link {
      text-transform: lowercase;
      display: block;
      font-size: 1rem;
      a {
        text-decoration: none;
        color: white;
        font-weight: 100;
        transition: all .2s;
        &:hover {
          font-weight: 300;
        }
      }
    }
  }

  .inline-link {
    font-weight: 300;

    &:hover {
      cursor: pointer;
      font-weight: 600;
    }
  }

  &__container {
    width: inherit;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    padding-bottom: 1rem;
  }
}

.icon-title {
  display: inline-block;
  font-weight: 300;
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: .4rem;

  &:hover {
    cursor: pointer;
  }

  &--small {
    font-size: 2rem;
  }
}

.icon-meta {
  font-size: 1.2rem;
  color: white;
  font-weight: 100;

  &:hover {
    cursor: pointer;
    font-weight: 300;
  }
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.ablum-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.context-detail  {
  width: 100%;
  padding-top: 1rem;
  border-top: 1px solid rgba($color-purple, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image:url('../../assets/user.png');
  background-blend-mode:lighten;
  background-position-x: 70%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 20%;

  &__property-list {
    width: 100%;
  }
}

.users-view {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;

  &__list-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 1rem;
  }

  &__user {
    color:white;
    list-style: none;
    font-weight: 100;
    margin-top: 1.2rem;
    max-height: 30vh;

    a {
      text-decoration: none;
    }
    a:hover {
      font-weight: 300;
      cursor: pointer;
    }
  }
}



.view-content {
  margin-bottom: 1rem;
}

