<div *ngIf="showDisplay" class="image-display-modal-bg">

  <div class="image-display">

    <div class="image-display-grid">

      <div class="image-display-grid__item--header">
        <div class="image-display-grid__title"> {{ image.title }} </div>
        <div class="image-display-grid__close-btn" (click)="onCloseDisplay()">x</div>
      </div>

      <div class="image-display-grid__item--thumb-view">

        <div class="image-display-grid__item--thumb-view__head
          image-display-grid__title--md">
          <i class="fa fa-folder"></i>&nbsp;
          {{ album ? album.title : image.albumId }}
        </div>

        <img [src]="image.thumbnailUrl" alt="image.title">

        <div class="image-display-grid__item--thumb-view__wrapper">

          <div class="image-display-grid__title--sm hoverable" (click)="onSelectUsers()">
            <i class="fa fa-users"></i>&nbsp;
            <span *ngIf="!users"> Who's sharing this album?</span>
            <span *ngIf="users && users.length > 0">
              <strong>{{users.length}}</strong>
              users are sharing this album
            </span>
          </div>

        </div>

      </div>

      <div *ngIf="users" class="image-display-grid__item--users-view">
        <ul class="image-display-grid__item--users-view__list">
          <li *ngFor="let user of users" (click)="onSelectUser(user.id)">
            <a class="image-display-grid__item--users-view__user hoverable">{{ user.name }}</a>
          </li>
        </ul>
      </div>

      <div *ngIf="showUserContext" class="image-display-grid__item--user-view">
        <app-user [user]="user"></app-user>
      </div>

    </div>
  </div>

</div>