@import '../../sass/variables';

.photo-browser {
  position: relative;
  margin-top: 15vh;
  width: 75vw;
  height: 65vh;
  border-radius: 12px;
  background-image: linear-gradient(
    to bottom right,
    $color-purple,
    $color-purple-darker
  );
  background-size: cover;
  box-shadow: 0 1rem 2rem rgba($color-shadow, .4);
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(6, minmax(6rem, 1fr));
  grid-template-rows: repeat(6, minmax(6rem, 1fr));

  &__header {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: [left-start] auto [left-end middle-start] 1fr [middle-end right-start] auto [right-end];
    justify-items: start;
    align-items: center;

    &--left {
      grid-column: left-start / left-end;
    }

    &--middle {
      grid-column: middle-start / middle-end;
    }

    &--right {
      grid-column: right-start / right-end;
    }

  }

}
