<app-image-detail></app-image-detail>
<div class="photo-browser">

  <div class="photo-browser__header">

    <div class="photo-browser__header--item app-logo">
        <strong>Photo</strong> | Browser
    </div>

    <div class="photo-browser__header__sub-menu">

        <div class="photo-browser__header__sub-menu--menu">

          <ul class="photo-browser__header__sub-menu--option-list">
            <li class="option-item" (click)="onSelectImageRange(0,10)">0..10</li>
            <li class="option-item" (click)="onSelectImageRange(10,50)">10..50</li>
            <li class="option-item" (click)="onSelectImageRange(0,50)">0..50</li>
            <li class="option-item" (click)="onSelectImageRange(50,100)">50..100</li>
            <li class="option-item" (click)="onSelectImageRange(100,500)">100..500</li>
            <li class="option-item" (click)="onSelectImageRange(500,1000)">500..1000</li>
            <li class="option-item" (click)="onSelectImageRange(1000,-1)">1000...</li>
            <li class="option-item" (click)="onSelectImages(-1)">all</li>
          </ul>

        </div>

        <div class="photo-browser__header__sub-menu--info">
          <span>
            <i class="fa fa-photo"></i>&nbsp; = &nbsp;
            <strong>({{imagesCount}})</strong>
          </span>
        </div>

    </div>


  </div>

  <div class="photo-browser__content">
    <app-browser-window></app-browser-window>
  </div>

  <div class="photo-browser__footer">
    <div class="social">
      <ul>
        <li><i class="fa fa-twitter fa-2x"></i></li>
        <li><i class="fa fa-instagram fa-2x"></i></li>
        <li><i class="fa fa-linkedin fa-2x"></i></li>
        <li><i class="fa fa-envelope fa-2x"></i></li>
      </ul>
    </div>
  </div>
</div>
